/*Yashpreet Kaler*/
/*Imitating a website. style.css*/
/* 2021-12-13 8*/
/*TEJ208*/
body {
     background-color: lightblue;
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover;
  }

.content {
  max-width: 900px;
  margin: auto;
  background: clear;
  padding: 9px;
}

ul.a {
list-style-type: square;
}

.arial {
  font-family: Calibri;
}

